body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h2 {
  color: white !important;
}


.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px; /* Space between inputs */
  padding: 20px;
  flex-wrap: nowrap;
}

.search-container input {
  width: 300px;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #7c12ae;
  border-radius: 5px;
  background: #222; /* Dark background for inputs */
  color: white;
  outline: none;
  transition: border-color 0.3s ease;
}

.search-container input::placeholder {
  color: #bbb; /* Light gray placeholder text */
}

.search-container input:focus {
  border-color: #c64dff; /* Brighter purple on focus */
  box-shadow:0 0 7px #c64dff;
}

.search-container button {
  width: 150px;
  padding: 10px;
  font-size: 16px;
  background: #7c12ae;
  border-color: #7c12ae;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.search-container button:hover {
  background: #c64dff; /* Lighter purple on hover */
  border-color: #c64dff;
}