body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h2 {
  color: white !important;
}

p {
  color: white !important;
}

.card {
  background-color: #222222 !important;
  color: white;
  border: 1px solid #7c12ae;
}

.card-title {
  color: #bb33ff !important;
}

.card-text {
  color: #dddddd;
}

.card img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px; /* Space between inputs */
  padding: 20px;
  flex-wrap: nowrap;
}

.search-container input {
  width: 300px;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #7c12ae;
  border-radius: 5px;
  background: #222; /* Dark background for inputs */
  color: white;
  outline: none;
  transition: border-color 0.3s ease;
}

.search-container input::placeholder {
  color: #bbb; /* Light gray placeholder text */
}

.search-container input:focus {
  border-color: #ffffff; /* Brighter purple on focus */
}

.search-container button {
  width: 150px;
  padding: 10px;
  font-size: 16px;
  background: #7c12ae;
  color: white;
  cursor: pointer;
  transition: background 0.3s ease;
  border: 0;
}

.search-container button:hover {
  background: #6b0a93 !important; /* darker purple on hover */
}

.btn-purple {
  background-color: #7c12ae !important;
  border: 0 !important;
}

.btn.btn-purple:hover {
  background: #6b0a93 !important; /* Lighter purple on hover */
}


.flip-card {
  perspective: 1000px;
  width: 100%;
  height: 250px; /* Adjust as needed */
}

.flip-card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
}

.flip-card-front {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flip-card-back {
  background: rgba(0, 0, 0, 0.8);
  color: white;
  transform: rotateY(180deg);
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}